<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/arena.css">
  <script src="../js/arena.js"></script>
</head>

<body>
  <div class="power-ups"></div>
  <div class="paddles">
    <div class="paddle player1"></div>
    <div class="paddle player2"></div>
  </div>
  <div class="scores">
    <div class="left score"></div>
    <div class="right score"></div>
  </div>
  <div class="ball"></div>
  <div class="walls">
    <div class="middle-line"></div>
    <div class="wall top"></div>
    <div class="wall bottom"></div>
  </div>
</body>

</html>
